@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

body {
    background-color: rgb(190, 206, 237);
}

.homePage {
    background-image: linear-gradient(rgba(2, 33, 99, 0.35), rgba(2, 33, 99, 0.35), rgba(176, 196, 222, 0.35), rgba(176, 196, 222, 0.35), rgba(2, 33, 99, 0.35)), url("/site_images/sheetmusic.jpg");
    background-size: cover;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 900;
}