* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn-bd-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: aliceblue;
    --bs-btn-bg: #0363a9;
    --bs-btn-hover-color: aliceblue;
    --bs-btn-hover-bg: #012b48;
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #0095ff;
}

.btn-bd-secondary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: aliceblue;
    --bs-btn-bg: #6a8ca4;
    --bs-btn-hover-color: aliceblue;
    --bs-btn-hover-bg: #012b48;
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #0095ff;
}

.navbar {
    background-color: #0363a9;
    --bs-navbar-brand-color: aliceblue;
    --bs-navbar-brand-hover-color: aliceblue;
    --bs-navbar-brand-font-size: 2rem;
    --bs-navbar-color: aliceblue;
}

.nav-pills {
    --bs-nav-pills-border-radius: 3em;
}

.navbar-nav .nav-link.active {
    color: aliceblue;
    --bs-nav-pills-link-active-bg: #012b48;
}

#user-welcome {
    margin: 0;
    padding: 0;
    color: aliceblue;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #b0deff;
}

.homePage {
    background-image: linear-gradient(rgba(176, 222, 255, 0.2), rgba(190, 206, 237, 0.5)), url("/site_images/sheetmusic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

footer {
    background-color: #0363a9;
}

footer a {
    padding: 1em 2em;
    margin: 0;
    text-align: right;
    color: aliceblue;
    text-decoration: none;
}

footer p {
    padding: 1em 2em;
    margin: 0;
    text-align: left;
    color: aliceblue;
}